<body>
  <mat-toolbar color="custom">
  <mat-toolbar-row>
      <button mat-icon-button [matMenuTriggerFor]="menu" mat-icon-button class="icon" aria-label="Icon-button menu ">
        <mat-icon>menu</mat-icon>
      </button>

      <span class="centre">Lab 10 - HTTPClient and Routing</span>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </button>
        <button mat-menu-item routerLink="list">
          <mat-icon>checklist</mat-icon>
          <span>Todo List</span>
        </button>
        <button mat-menu-item routerLink="details">
          <mat-icon >table_chart</mat-icon>
          <span>Todo Details</span>
        </button>
        <button mat-menu-item routerLink="spacex">
          <mat-icon>rocket_launch</mat-icon>
          <span>SpaceX</span>
        </button>
      </mat-menu>
  </mat-toolbar-row>
  </mat-toolbar>
  
  <router-outlet></router-outlet>
</body>
